/* CardGrid.module.css */
.title {
  color: var(--blanco);
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
    color: var(--blanco);
  }
  
   
    @media (min-width: 480px) {
      .grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  

  .card .img {
    background-image: url('../../assets/images/rayo.png');
    background-size: cover;       /* Ajusta la imagen para que cubra el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;  /* Centra la imagen en el contenedor */
    width: 100%;                  /* Asegura que el contenedor ocupe todo el ancho disponible */
    height: 300px;                 /* Asegura que el contenedor ocupe todo el alto disponible */
  }

  .card .txt {
    padding: 10px 5px;
  }

  .card .txt p {
    color: #999;
    font-size: var(--s);
  }


  .card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
  