.title {
  color: #fff;
}
.accordion {
    width: 100%;
    margin: 20px 0;
  }
  
  .accordion details {
    background: var(--negro); /* Fondo más claro para contraste */
    border-top: 1px solid var(--gris-oscuro);
    padding: 10px;
    color: #fff; /* Texto blanco */
  }
  
  .accordion summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; /* Texto blanco */
    padding: 10px;
  }
  
  .accordion summary::-webkit-details-marker {
    display: none;
  }
    
  .accordion details p {
    margin: 10px 0 0;
    padding: 10px;
    background: var(--negro); /* Fondo más claro para el contenido */
    color: #999; /* Texto blanco */
    font-size: 1em;
  }

  .accordion summary span {
    font-size: var(--m);
  }
  
  .accordion summary .icon {
    background-color: var(--gris-oscuro);
    padding: 6px 8px;
  }

  .accordion summary i {
    transition: transform 0.3s ease;
  }
  
  .accordion details[open] summary i {
    transform: rotate(180deg);
  }
  