.title {
  color: #fff;
}
.accordion {
    width: 100%;
    margin: 20px 0;
  }
  
  .accordion details {
    background: #000; /* Fondo más claro para contraste */
    border: 1px solid #111;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #fff; /* Texto blanco */
  }
  
  .accordion summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; /* Texto blanco */
    padding: 10px;
  }
  
  .accordion summary::-webkit-details-marker {
    display: none;
  }
    
  .accordion details p {
    margin: 10px 0 0;
    padding: 10px;
    background: #000; /* Fondo más claro para el contenido */
    color: #999; /* Texto blanco */
    font-size: 1em;
  }

  .accordion summary span {
    font-size: var(--m);
  }
  
  .accordion summary i {
    transition: transform 0.3s ease;
  }
  
  .accordion details[open] summary i {
    transform: rotate(180deg);
  }
  