.main {
  width: 100%;
  max-width: 1400px;
  margin: 80px auto 0 auto;
  border-bottom: none;
  padding: 0 10px;
}

section {
  margin: 20px 0;
}

.container{
  margin: 20px 0;
}


@media (min-width: 768px) {
  .main {
    padding: 0 30px;
  }
}