/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*Colores*/
    --negro: #111;
    --blanco: #FFFFFF;
    --verde: #28a745;
    --naranja: #f06529;
    --azul: #0056b3;
    --gris-oscuro: #333333;

  /*Tamaños de letras*/
  --s: 0.9em;
  --m: 1em;
  --l: 1.2em;
  --xl:1.5em;
  --xxl: 2em;

}


body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--negro);
}

a, li {
  text-decoration: none;
  list-style: none;
  color: var(--blanco);
  font-size: var(--m);
}

h1 {
  font-size: var(--xxl);
}

h2 {
  font-size: var(--l);
}

h3 {
  font-size: var(--m);
}

p {
  font-size: var(--m);
}


.naranja {
    color: var(--naranja);
}